/* global styles  */
.button {
  &[data-variant="primary"] {
    background-color: #45a575;
    color: #f9f7f2;
    border-radius: 100px;
    border: transparent;

    &:hover {
      background-color: #43966c;
      /* A slightly darker green */
      transform: translateY(-1px);
      /* Subtle lift effect */
      box-shadow: 0 4px 12px rgba(69, 165, 117, 0.3);
      /* Soft green glow */
      border: transparent;
    }
  }

  &[data-variant="secondary"] {
    background-color: var(--mantine-color-body);
    color: var(--mantine-color-text);
    border-width: 0;
    border-radius: 100px;
    border: solid #45a575;

    &:hover {
      transform: translateY(-1px);
      /* Subtle lift effect */
      box-shadow: 0 4px 12px rgba(69, 165, 117, 0.3);
      /* Soft green glow */
      border: solid #43966c;
    }
  }

  &[data-variant="edit"] {
    background-color: #e3b23c;
    color: var(--mantine-color-text);
    border-width: 0;
    border-radius: 100px;
    border: solid #d6a126;

    &:hover {
      transform: translateY(-1px);
    }
  }

  &[data-variant="delete"] {
    background-color: var(--mantine-color-red-6);
    color: var(--mantine-color-text);
    border-width: 0;
    border-radius: 100px;
    border: solid var(--mantine-color-red-8);

    &:hover {
      transform: translateY(-1px);
    }
  }
  &[data-variant="grey"] {
    background-color: var(--mantine-color-gray-6);
    color: var(--mantine-color-text);
    border-width: 0;
    border-radius: 100px;
    border: solid var(--mantine-color-gray-8);

    &:hover {
      transform: translateY(-1px);
    }
  }
}

.text {
  &[data-variant="primary"] {
    color: #45a575 !important;
    transition: all 0.2s ease;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #43966c;
      /* A slightly darker green */
      transform: translateY(-1px);
      text-decoration: underline;
      text-shadow: 0 2px 4px rgba(69, 165, 117, 0.2);
    }
  }

  /* &[data-variant="secondary"] {
    color: var(--mantine-color-text);
    border-width: 0;
    border-radius: 100px;
    border: solid #45a575;

    &:hover {
      transform: translateY(-1px); 
      box-shadow: 0 4px 12px rgba(69, 165, 117, 0.3); 
      border: solid #43966c;
    }
  } */
}

.paper {
  /* Default styles for all papers using this class */
  transition: transform 0.2s ease;

  &[data-variant="primary"] {
    background-color: var(--paper-border-color) !important;
    border: 1px solid var(--border-color);
  }
}

.actionIcon {
  /* Transition for smooth color fading */
  transition: all 0.2s ease;

  &[data-variant="primary"] {
    background-color: var(--mantine-color-body);
    color: var(--mantine-color-text);
    border: 1px solid transparent;

    &:hover {
      border-color: #45a575;
      /* Gold Accent */
      transform: translateY(-1px);
      box-shadow: 0 4px 12px rgba(69, 165, 117, 0.2);
    }
  }
}

.input {
  border-radius: 100px;
  /* Matching button radius */
  padding-left: 20px;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
  border: 1px solid var(--border-color);

  &[data-variant="body-color"] {
    background-color: var(--mantine-color-body);
  }

  &:hover {
    border-color: #45a575;
    /* Your brand green */
  }

  &:focus {
    border-color: #45a575;
    outline: none;
  }

  /* Style when there is an error */
  &[data-error] {
    border-color: var(--mantine-color-red-6);
  }
}

/* You can also style the label separately here */
.label {
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: 600;
  color: var(--mantine-color-text);
}

.main {
  width: 100%;
  /* Use flex-grow so the main area pushes the footer down if the page is empty */
  flex-grow: 1;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  padding: 40px 16px;
  box-sizing: border-box;
}

.pill {
  color: var(--mantine-color-text);
  border: 1px solid transparent;
  width: 80px;
  /* Set your desired fixed length */
  display: inline-block;
  /* Required for width to apply to inline elements */
  text-align: center;
  /* Centers the text inside the pill */

  /* Prevent text from breaking the fixed width */
  white-space: nowrap;
  /* Keeps text on one line */
  overflow: hidden;
  /* Hides text that is too long */
  text-overflow: ellipsis;

  &[data-variant="green"] {
    background-color: #45a575;
  }

  &[data-variant="red"] {
    background-color: var(--mantine-color-red-6);
  }

  &[data-variant="blue"] {
    background-color: var(--mantine-color-blue-6);
  }

  &[data-variant="yellow"] {
    background-color: var(--mantine-color-yellow-6);
  }
}
