.label {
  font-weight: 900;
  font-size: 220px;
  line-height: 1;
  color: var(--mantine-color-gray-2);
  width: 100%;
  text-align: center;

  @media (max-width: var(--mantine-breakpoint-sm)) {
    font-size: 120px;
  }
}

.description {
  max-width: 500px;
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(1.5 * var(--mantine-spacing-xl));
}

.title {
  font-family: "Outfit", var(--mantine-font-family);
  text-align: center;
  font-weight: 500;
  font-size: 38px;

  @media (max-width: var(--mantine-breakpoint-sm)) {
    font-size: 32px;
  }
}
